.cardMusic{
    width: 250px;
    height: 350px;
    padding: 10px;

    img{
        object-fit: contain;
        width: 90%;
        margin: 0 auto;
        
    }

    h3{
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-top: 15px;
    }

    p{
        height: 40px;
        font-size: 14px;
        color: #B3B3B3;
        overflow-y: auto;
    }
}