.likedFront{
    background: linear-gradient(180deg,#604EC1 25%,#121212 100%);
    max-width: 100%;
    margin: 0 auto;
    min-height: 400px;
    font-family: 'Spotify Font Medium', sans-serif;
    color: white;

    .liked__wrapper{
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        padding-top: 30px;
        gap: 10px;
        

       
    }

    .likedTitle{
        font-family: "Spotify Font SemiBold", sans-serif;
        font-size: 100px;
        line-height: 100px;
        letter-spacing: -4px;
    }

    .liked-info{
        span{
            img{
                width: 30px;
                height: 30px;
                object-fit: contain;
                border-radius: 50%;
            }
        }
    }
}

.likedSongsBtns{
    display: flex;
    align-items: center;
    gap: 10px;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search_filterBtns{
    display: flex;
    align-items: center;
    gap: 10px;
    button{
        width: 20px;
    }

    select{
        border: none;
        background-color: transparent;
        color: white;
        font-family: "Spotify Font Medium", sans-serif;
        font-size: 18px;
        outline: none;
    }
    
}

@media screen and (max-width: 1000px) {
    .likedFront{
        .liked__wrapper{
            width: 100%;
        }

        .likedTitle{
            font-size: 60px;
            line-height: 65px;

        }
        .liked__img{
            width: 280px;
        }
    }
    
}

@media screen and (max-width: 800px) {
    .likedFront{
        .liked__wrapper{
            width: 100%;
        }

        .likedTitle{
            font-size: 50px;
            line-height: 60px;

        }

        .liked__img{
            width: 250px;
        }
    }
    
}

@media screen and (max-width: 700px) {
    .likedFront{
        .liked__wrapper{
            width: 100%;
        }

        .likedTitle{
            font-size: 40px;
            line-height: 50px;

        }

        .liked__img{
            width: 200px;
        }
    }
    
}

@media screen and (max-width: 500px) {
    .likedFront{
        min-height: 300px;
        .liked__wrapper{
            width: 100%;
        }

        .likedTitle{
            font-size: 35px;
            line-height: 40px;
            letter-spacing: .1px;

        }

        .liked__img{
            width: 180px;
        }
    }
    
}