.PlayerBottom{
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    background-color: #181818;
    padding: 5px 20px;
    font-family: "Spotify Font Medium", sans-serif;

}

.albumNameImg{
    width: 280px;
    height: 80px;
    color: white;

    .albumImg{
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 10px;
    }

    
}

.playerBtns{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    .Btns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        button{
            width: 34px;
        }
    
    }

    .filler{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: #A6A6A6;
        font-size: 14px;
        input{
            width: 450px;
            accent-color: white;
            height: 3px;
            background-color: gray;
            color: gray;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                accent-color: lime;
                background-color: lime;
            }
        }

        

        input[type="range"]::-moz-range-thumb {
            width: 4px;
            height: 16px;
            accent-color: white;
            cursor: pointer;
            border-radius: 2px;
            transition: opacity 0.3s ease;
        }

    }

    
}

.volume-Extra{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button{
        width: 28px;
        opacity: 0.5;
        transition: .2s;
    }

    button:hover{
        opacity: 1;
    }

    input{
        accent-color: white;
        width: 100px;
        height: 3px;
        background-color: gray;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            accent-color: lime;
        }
    }
}

@media screen and (max-width: 1150px) {
    .PlayerBottom{
        .queue{
            display: none;
        }

        .devices{
            display: none;
        }

        
    }
}

@media screen and (max-width: 950px) {
    .PlayerBottom{
        .albumNameImg{
            gap: 10px;
        }

        .playerBtns{
            .filler{
                gap: 10px;
                .progress{
                    width: 300px;
                }
            }
            .Btns{
                gap: 10px;
                button{
                    width: 30px;
                }
            }
        }
        

        
    }
}

@media screen and (max-width: 800px) {
    .PlayerBottom{
        gap: 10px;
        justify-content:center;
        .albumNameImg{
            width: 150px;
            .albumImg{
                display: none;
            }
        }

        .playerBtns{
            .filler{
                gap: 10px;
                .progress{
                    width: 300px;
                }
            }
            .Btns{
                gap: 10px;
                button{
                    width: 30px;
                }
            }
        }
        
        .fullscreen{
            display: none;
        }

        .volume-Extra{
            gap: 0px;
        }

        .verticalVolume{
            width: 60px;
            transform: rotate(-90deg);
        }
        
    }
}

@media screen and (max-width: 600px) {
    .PlayerBottom{
        background-color: #181818da;
        backdrop-filter: blur(10px);
        flex-direction: column;
        padding: 5px;
        .albumNameImg{
            display: flex;
            width: 90%;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: 40px;
            overflow: auto;
            .musicName{
                font-size: 14px;
            }
            .artist{
                display: none;
            }

           

        }
        

       

        .playerBtns{
            margin: 0 auto;
            gap: 2px;
        }

        .filler{
            margin-bottom: 5px;
        }

        .loop{
            display: none;
        }

        .shuffle{
            display: none;
        }
    }
    .volume-Extra{
        display: none;
    }
}